node_modules/
/package-lock.json
/yarn.lock
/pnpm-lock.yaml
/yarn-error.log

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

prisma/*.sql
prisma/**/*.sql

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db
